Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. 
Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.

In [94]:
import pandas as pd

In [95]:
bookings=pd.read_csv('bookings.csv',sep=';')
bookings_head=bookings[0:7]
bookings_head=bookings.head(7)
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

Кол-во столбцов

In [96]:
bookings.shape[1]

21

Типы переменных

In [97]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [98]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Hotel                      119390 non-null  object
 1   Is Canceled                119390 non-null  int64
 2   Lead Time                  119390 non-null  int64
 3   arrival full date          119390 non-null  object
 4   Arrival Date Year          119390 non-null  int64
 5   Arrival Date Month         119390 non-null  object
 6   Arrival Date Week Number   119390 non-null  int64
 7   Arrival Date Day of Month  119390 non-null  int64
 8   Stays in Weekend nights    119390 non-null  int64
 9   Stays in week nights       119390 non-null  int64
 10  stays total nights         119390 non-null  int64
 11  Adults                     119390 non-null  int64
 12  Children                   119386 non-null  float64
 13  Babies                     119390 non-null  int64
 14  Meal                       119390 non-null  object
 15  Country                    118902 non-null  object
 16  Reserved Room Type         119390 non-null  object
 17  Assigned room type         119390 non-null  object
 18  customer type              119390 non-null  object
 19  Reservation Status         119390 non-null  object
 20  Reservation status_date    119390 non-null  object
dtypes: float64(1), int64(10), object(10)
memory usage: 19.1+ MB

Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.

In [99]:
def rename_columns(F):   
    F=F.lower()
    F=F.replace(' ','_')
    return F

In [100]:
for name in bookings:

    new_name=rename_columns(name)
    bookings=bookings.rename(columns={name:new_name})

Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.

In [101]:
bookings.query('is_canceled!=1').groupby('country').agg('count').sort_values('hotel',ascending=False)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,stays_total_nights,adults,children,babies,meal,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
country,,,,,,,,,,,,,,,,,,,,
PRT,21071,21071,21071,21071,21071,21071,21071,21071,21071,21071,21071,21071,21071,21071,21071,21071,21071,21071,21071,21071
GBR,9676,9676,9676,9676,9676,9676,9676,9676,9676,9676,9676,9676,9676,9676,9676,9676,9676,9676,9676,9676
FRA,8481,8481,8481,8481,8481,8481,8481,8481,8481,8481,8481,8481,8481,8481,8481,8481,8481,8481,8481,8481
ESP,6391,6391,6391,6391,6391,6391,6391,6391,6391,6391,6391,6391,6391,6391,6391,6391,6391,6391,6391,6391
DEU,6069,6069,6069,6069,6069,6069,6069,6069,6069,6069,6069,6069,6069,6069,6069,6069,6069,6069,6069,6069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SMR,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
MLI,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
SLE,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
MAC,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
PLW,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? Запишите полученные значения в пропуски с точностью до 2 знаков после точки.

In [102]:
bookings.groupby('hotel').agg('mean','stays_total_nights').stays_total_nights.round(2)

hotel
City Hotel      2.98
Resort Hotel    4.32
Name: stays_total_nights, dtype: float64

Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

In [103]:
bookings.query('assigned_room_type!=reserved_room_type').agg('count')[0]

14917

Проанализируйте даты запланированного прибытия. 
– На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?
– Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов.

In [104]:
bookings.query('is_canceled==0 and (arrival_date_year==2016 or arrival_date_year==2017)')\
    .groupby(['arrival_date_month','arrival_date_year'])\
    .aggregate('count')\
    .sort_values('hotel',ascending=False)

                                      hotel  is_canceled  lead_time  \
arrival_date_month arrival_date_year
October            2016                3689         3689       3689
May                2016                3563         3563       3563
                   2017                3551         3551       3551
September          2016                3372         3372       3372
April              2016                3367         3367       3367
March              2016                3347         3347       3347
July               2017                3329         3329       3329
March              2017                3298         3298       3298
August             2016                3238         3238       3238
June               2017                3208         3208       3208
April              2017                3198         3198       3198
June               2016                3196         3196       3196
August             2017                3109         3109       3109
July               2016                3073         3073       3073
February           2017                2818         2818       2818
November           2016                2818         2818       2818
February           2016                2554         2554       2554
December           2016                2462         2462       2462
January            2017                2431         2431       2431
                   2016                1691         1691       1691

                                      arrival_full_date  \
arrival_date_month arrival_date_year
October            2016                            3689
May                2016                            3563
                   2017                            3551
September          2016                            3372
April              2016                            3367
March              2016                            3347
July               2017                            3329
March              2017                            3298
August             2016                            3238
June               2017                            3208
April              2017                            3198
June               2016                            3196
August             2017                            3109
July               2016                            3073
February           2017                            2818
November           2016                            2818
February           2016                            2554
December           2016                            2462
January            2017                            2431
                   2016                            1691

                                      arrival_date_week_number  \
arrival_date_month arrival_date_year
October            2016                                   3689
May                2016                                   3563
                   2017                                   3551
September          2016                                   3372
April              2016                                   3367
March              2016                                   3347
July               2017                                   3329
March              2017                                   3298
August             2016                                   3238
June               2017                                   3208
April              2017                                   3198
June               2016                                   3196
August             2017                                   3109
July               2016                                   3073
February           2017                                   2818
November           2016                                   2818
February           2016                                   2554
December           2016                                   2462
January            2017                                   2431
                   2016                                   1691

                                      arrival_date_day_of_month  \
arrival_date_month arrival_date_year
October            2016                                    3689
May                2016                                    3563
                   2017                                    3551
September          2016                                    3372
April              2016                                    3367
March              2016                                    3347
July               2017                                    3329
March              2017                                    3298
August             2016                                    3238
June               2017                                    3208
April              2017                                    3198
June               2016                                    3196
August             2017                                    3109
July               2016                                    3073
February           2017                                    2818
November           2016                                    2818
February           2016                                    2554
December           2016                                    2462
January            2017                                    2431
                   2016                                    1691

                                      stays_in_weekend_nights  \
arrival_date_month arrival_date_year
October            2016                                  3689
May                2016                                  3563
                   2017                                  3551
September          2016                                  3372
April              2016                                  3367
March              2016                                  3347
July               2017                                  3329
March              2017                                  3298
August             2016                                  3238
June               2017                                  3208
April              2017                                  3198
June               2016                                  3196
August             2017                                  3109
July               2016                                  3073
February           2017                                  2818
November           2016                                  2818
February           2016                                  2554
December           2016                                  2462
January            2017                                  2431
                   2016                                  1691

                                      stays_in_week_nights  \
arrival_date_month arrival_date_year
October            2016                               3689
May                2016                               3563
                   2017                               3551
September          2016                               3372
April              2016                               3367
March              2016                               3347
July               2017                               3329
March              2017                               3298
August             2016                               3238
June               2017                               3208
April              2017                               3198
June               2016                               3196
August             2017                               3109
July               2016                               3073
February           2017                               2818
November           2016                               2818
February           2016                               2554
December           2016                               2462
January            2017                               2431
                   2016                               1691

                                      stays_total_nights  adults  children  \
arrival_date_month arrival_date_year
October            2016                             3689    3689      3689
May                2016                             3563    3563      3563
                   2017                             3551    3551      3551
September          2016                             3372    3372      3372
April              2016                             3367    3367      3367
March              2016                             3347    3347      3347
July               2017                             3329    3329      3329
March              2017                             3298    3298      3298
August             2016                             3238    3238      3238
June               2017                             3208    3208      3208
April              2017                             3198    3198      3198
June               2016                             3196    3196      3196
August             2017                             3109    3109      3109
July               2016                             3073    3073      3073
February           2017                             2818    2818      2818
November           2016                             2818    2818      2818
February           2016                             2554    2554      2554
December           2016                             2462    2462      2462
January            2017                             2431    2431      2431
                   2016                             1691    1691      1691

                                      babies  meal  country  \
arrival_date_month arrival_date_year
October            2016                 3689  3689     3664
May                2016                 3563  3563     3551
                   2017                 3551  3551     3551
September          2016                 3372  3372     3361
April              2016                 3367  3367     3345
March              2016                 3347  3347     3312
July               2017                 3329  3329     3329
March              2017                 3298  3298     3279
August             2016                 3238  3238     3230
June               2017                 3208  3208     3208
April              2017                 3198  3198     3188
June               2016                 3196  3196     3185
August             2017                 3109  3109     3109
July               2016                 3073  3073     3059
February           2017                 2818  2818     2796
November           2016                 2818  2818     2798
February           2016                 2554  2554     2521
December           2016                 2462  2462     2438
January            2017                 2431  2431     2410
                   2016                 1691  1691     1658

                                      reserved_room_type  assigned_room_type  \
arrival_date_month arrival_date_year
October            2016                             3689                3689
May                2016                             3563                3563
                   2017                             3551                3551
September          2016                             3372                3372
April              2016                             3367                3367
March              2016                             3347                3347
July               2017                             3329                3329
March              2017                             3298                3298
August             2016                             3238                3238
June               2017                             3208                3208
April              2017                             3198                3198
June               2016                             3196                3196
August             2017                             3109                3109
July               2016                             3073                3073
February           2017                             2818                2818
November           2016                             2818                2818
February           2016                             2554                2554
December           2016                             2462                2462
January            2017                             2431                2431
                   2016                             1691                1691

                                      customer_type  reservation_status  \
arrival_date_month arrival_date_year
October            2016                        3689                3689
May                2016                        3563                3563
                   2017                        3551                3551
September          2016                        3372                3372
April              2016                        3367                3367
March              2016                        3347                3347
July               2017                        3329                3329
March              2017                        3298                3298
August             2016                        3238                3238
June               2017                        3208                3208
April              2017                        3198                3198
June               2016                        3196                3196
August             2017                        3109                3109
July               2016                        3073                3073
February           2017                        2818                2818
November           2016                        2818                2818
February           2016                        2554                2554
December           2016                        2462                2462
January            2017                        2431                2431
                   2016                        1691                1691

                                      reservation_status_date
arrival_date_month arrival_date_year
October            2016                                  3689
May                2016                                  3563
                   2017                                  3551
September          2016                                  3372
April              2016                                  3367
March              2016                                  3347
July               2017                                  3329
March              2017                                  3298
August             2016                                  3238
June               2017                                  3208
April              2017                                  3198
June               2016                                  3196
August             2017                                  3109
July               2016                                  3073
February           2017                                  2818
November           2016                                  2818
February           2016                                  2554
December           2016                                  2462
January            2017                                  2431
                   2016                                  1691

In [105]:
bookings.tail(10)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
119380,City Hotel,0,44,2017-08-31,2017,August,35,31,1,3,...,2,0.0,0,SC,DEU,A,A,Transient,Check-Out,2017-09-04
119381,City Hotel,0,188,2017-08-31,2017,August,35,31,2,3,...,2,0.0,0,BB,DEU,A,A,Transient,Check-Out,2017-09-05
119382,City Hotel,0,135,2017-08-30,2017,August,35,30,2,4,...,3,0.0,0,BB,JPN,G,G,Transient,Check-Out,2017-09-05
119383,City Hotel,0,164,2017-08-31,2017,August,35,31,2,4,...,2,0.0,0,BB,DEU,A,A,Transient,Check-Out,2017-09-06
119384,City Hotel,0,21,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [106]:
bookings.query('hotel=="City Hotel" and is_canceled==1')\
    .groupby(['arrival_date_year','arrival_date_month'])\
    .is_canceled.count().groupby('arrival_date_year')\
    .nlargest(1)

arrival_date_year  arrival_date_year  arrival_date_month
2015               2015               September             1543
2016               2016               October               1947
2017               2017               May                   2217
Name: is_canceled, dtype: int64

Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [107]:
bookings[['adults','children','babies']].agg('mean')

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

Создайте колонку total_kids, объединив children и babies. Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?

In [108]:
bookings['total_kids']=bookings.children+bookings.babies
bookings.groupby('hotel').total_kids.mean().round(2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), и False – в противном случае. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

In [109]:
bookings['has_kids']=bookings['total_kids']!=0
bookings.head(40)
(((bookings\
       .query('is_canceled!=0')\
       .groupby('has_kids')\
       .is_canceled.count())\
      /(bookings.groupby('has_kids')\
        .is_canceled.count()))*100)\
        .round(2)

has_kids
False    37.22
True     34.95
Name: is_canceled, dtype: float64

или

In [110]:
bookings[['has_kids','is_canceled']].value_counts()

has_kids  is_canceled
False     0              69093
          1              40961
True      0               6073
          1               3263
dtype: int64

In [111]:
bookings[['has_kids','is_canceled']].value_counts()/bookings[['has_kids']].value_counts()

has_kids  is_canceled
False     0              0.627810
          1              0.372190
True      0              0.650493
          1              0.349507
dtype: float64